# Python/Flask
__pycache__/
*.pyc
instance/
.env
flask_session/
migrations/
hotel_management.sql
hotel_management_postgresql.sql

# VS Code / OS
.vscode/
.DS_Store

# Any nested folder you don’t want
fawna-hotel/
